.memmain {
    position: inherit;
    transition: 5s;
   .animate{
     position: absolute;
     
  }
  .memimg {
    display:flex;
    background-image: url("../../assests/t1.jpg");
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    margin-left: 6%;
    border: transparent;
    &:hover{
        cursor: pointer;
      


    }
    

  }
  .memname {
    font-size: 22px;
    margin-left: 13%;
  }

}
