.team {
    display: grid;

  .our {
    text-align: center;
  }
  .sub {
    text-align: center;
  }
  .m{
      display: flex;
      flex-wrap: wrap;
      margin-left: 15%;
      border-color: transparent;
      

  }
}
