.dmain {
  display: flex;
  flex-wrap: wrap;
  
  .headingss {
    display: flex;
    justify-content: center;
   
  }
  .smainn {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 5%;
    overflow: hidden;
  }
}
