.sercommain{
    margin: 20px;
    width: 200px;
    height: 100px;
    margin-bottom: 12%;
    
    
  

    .imgg{
        width: 200px;
        height: 100px;
        align-items: center;
    }
    .head{
        text-align: center;
        
    }
    .sub{
        text-align: center;
        color: grey;
        width: 200px;
        height: 100px;
        
        
       
    }
}