.h{
    text-align: center;
    // padding-left: 600px;
}
.service-main{
    width: 100%;
    
    // display: flex;
}
.content{
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-content: center;
    padding-left: 25vw;
}