.footermain{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
   // text-align: center;
    height: 60%;
    float: left;
    padding: 20px;

    .c1{
        width: 20%;
        text-align: center;
    }
}